<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
  <servlet>
    <servlet-name>DiaryServlet</servlet-name>
    <servlet-class>DiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiaryServlet</servlet-name>
    <url-pattern>/DiaryServlet</url-pattern>
  </servlet-mapping>
</web-app>